@mixin button--active {
  background-image: linear-gradient(rgb(223, 175, 152), rgb(230, 176, 106));
  color: #fff;
}

.button-group {
  display: inline-block;
  border-radius: 1.2em;
  overflow: hidden;
  box-shadow: 0 0.2em 0.8em 0.1em rgba(0, 0, 0, 0.06);

  button {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0.6em 1em;
    font-size: inherit;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.25s;
  }

  button:focus {
    text-decoration: underline currentColor;
  }
}

.button-group.mode {
  margin-top: 20px;
  font-size: 14px;
}

.button-group.unit {
  font-size: 12px;
  vertical-align: text-bottom;
}

.button-group.mode__standard {
  .mode__standard {
    @include button--active;
  }
}

.button-group.mode__advanced {
  .mode__advanced {
    @include button--active;
  }
}

.button-group.unit__percent {
  .unit__percent {
    @include button--active;
  }
}

.button-group.unit__pixel {
  .unit__pixel {
    @include button--active;
  }
}

.radius,
.size {
  display: block;
  font-weight: bolder;
  color: #555;
  margin: 0 auto;
  text-align: center;

  &__value {
    border: none;
    border-bottom: 2px solid #eee;
    color: rgb(172, 112, 85);
    font-size: 20px;
    outline: none;
    font-weight: bolder;
    text-align: center;
    background: none;
  }

  .radius__value {
    width: 560px;
  }

  .size__value {
    width: 160px;
  }
}

.radius {
  margin-top: 30px;
  font-size: 26px;
}

.size {
  margin-top: 20px;
  font-size: 22px;
}

.options {
  margin-top: 20px;
  font-size: 18px;
}

.limit-range-checkbox {
  width: 0;
  height: 0;
}

.limit-range-label {
  cursor: pointer;
  position: relative;
  margin-right: 1em;
  padding-left: 1em;
  color: #555;
  vertical-align: 0.2em;

  &::before {
    position: absolute;
    content: '';
    right: 100%;
    top: 0.24em;
    border-radius: 0.5em;
    width: 2em;
    height: 1em;
    background-image: linear-gradient(#c5c5c5, #c0c0c0);    
    transition: all 0.8s;
  }

  &::after {
    position: absolute;
    top: 0.08em;
    right: calc(100% + 2em - 0.65em);
    content: '';
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    background-color: #fff;
    box-shadow: 0 0.2em 0.4em 0.1em rgba(0, 0, 0, 0.06);
    transition: all 0.26s;
  }
}

.limit-range-checkbox:focus  + .limit-range-label{
  text-decoration: underline currentColor;
}

.limit-range-checkbox:checked + .limit-range-label {

  &::before {
    background-image: linear-gradient(rgb(223, 175, 152), rgb(230, 176, 106));
  }

  &::after {
    transform: translateX(2em);
  }

}
