body,
html {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1.title {
  position: relative;
  font-weight: bolder;
  font-size: 24px;
  color: #777;
  text-align: left;
  padding-left: 32px;
  margin-left: 1em;
  background-color: rgba(255, 255, 255, 0.1);

  &::before {
    position: absolute;
    content: '';
    width: 1em;
    height: 1em;
    top: 0.1em;
    left: 0;
    background-image: linear-gradient(
      45deg,
      rgb(223, 175, 152),
      rgb(230, 176, 106)
    );
    background-color: rgb(223, 175, 152);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
  }

}

.footer {
  color: #aaa;
  font-weight: normal;
  font-size: 14px;
  padding: 12px;

  &__repo {
    width: 24px;
    height: 24px;
    fill: #aaa;
    margin-right: 0.8em;
    vertical-align: -6px;
  }

  a {
    color: inherit;
  }
}

.box-container {
  flex: 1;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 40px auto;
  background-image: linear-gradient(
    45deg,
    rgb(223, 175, 152),
    rgb(230, 176, 106)
  );
  background-color: rgb(223, 175, 152);
}

@mixin shape {
  position: absolute;
  border-radius: 50%;
  animation: shape-ani 8s infinite;
}

.shapes {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  overflow: hidden;
  opacity: 0.3;
  background-color: rgb(248, 229, 222);

  &__1 {
    @include shape;
    width: 20vw;
    height: 20vw;
    bottom: -30%;
    right: -20%;
  }

  &__2 {
    @include shape;
    width: 15vw;
    height: 15vw;
    top: -50%;
    left: -10%;
  }
}

@keyframes shape-ani {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 10rem rgb(250, 240, 238), 0 0 0 20rem rgb(248, 229, 222),
      0 0 0 30rem rgb(245, 215, 204);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 10rem rgb(245, 215, 204), 0 0 0 20rem rgb(248, 229, 222),
      0 0 0 30rem rgb(250, 240, 238);
  }
  100% {
    transform: scale(0.7);
    box-shadow: 0 0 0 10rem rgb(250, 240, 238), 0 0 0 20rem rgb(248, 229, 222),
      0 0 0 30rem rgb(245, 215, 204);
  }
}
